/*------------------*/
/* ABOUT IMAGE */
#about .about-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-image > img {
    height: 36rem;
    object-fit: cover;

    border: .4rem solid var(--pink-low);
    border-radius: 100%;
}
/*------------------*/

/*------------------*/
/* TEXT ABOUT */
#about div:last-of-type > h2 {
    margin-bottom: 1.6rem;
}

#about div:last-of-type p {
    color: var(--gray);
}

#about div p:nth-of-type(1) {
    margin-bottom: 1.2rem;
    text-indent: 3.5rem;
}

#about div p:nth-of-type(2) {
    margin-bottom: 2.4rem;
    text-indent: 3.5rem;
}

#about div p:nth-of-type(3) > span {
    padding-right: .4rem;
    padding-left: .4rem;

    font-size: 1.8rem;
    font-weight: 600;
    color: var(--pink-strong);
}
/*------------------*/