html {
    font-size: 62.5%; /* User agent de 10px em vez de 16px */

    --divider: #4D3900;
    --black: #000000;
    --white: #FFFFFF;
    --pink-strong: #FF3366;
    --pink-low: #F67797;
    --pink-button-hover: #f86489;

    --border-bottom: #e4e4e4;
}

/*------------------*/
/* FONTS */
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/*------------------*/