html {
    font-size: 62.5%; /* User agent de 10px em vez de 16px */

    --pink-strong: #FF3366;
    --pink-low: #F67797;
    --pink-strong-button: #fc4d76;
    --pink-low-button: #FF7C9C;
    --border-bottom: #E4E4E4;
    
    --bg-strong-button-whatsapp: #54dbac;
    --bg-low-button-whatsapp: #7fddbcec;
    --black: #000000;
    --gray: #767676;
    --white: #FFFFFF;

}

/*------------------*/
/* FONTS */
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.title { /* Representa todos H2 */
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    
    margin-bottom: 1.6rem;
}
/*------------------*/

/*------------------*/
/* LAYOUT */
.container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.divider {
    height: 0.1rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
    background: linear-gradient(to left, #7B500C, #916F3A, #C79950);
}

html {
    scroll-behavior: smooth; /* Scroll suave */
}
/*------------------*/
