html {
    font-size: 62.5%; /* User agent de 10px em vez de 16px */

    --pink-strong: #FF3366;
    --pink-low: #F67797;
    --pink-strong-button: #fc4d76;
    --pink-low-button: #FF7C9C;
    --border-bottom: #E4E4E4;
    --black: #000000;
    --white: #FFFFFF;

}

/*------------------*/
/* FONTS */
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
/*------------------*/

/*------------------*/
/* LAYOUT */
.container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.divider {
    height: 0.1rem;
    background: linear-gradient(to left, #7B500C, #916F3A, #C79950);
}
/*------------------*/
