html {
    font-size: 62.5%; /* User agent de 10px em vez de 16px */

    --pink-strong: #FF3366;
    --pink-low: #F67797;
    --black: #000000;
    --white: #FFFFFF;
    --border-bottom: #E4E4E4;

}

/*------------------*/
/* FONTS */
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
/*------------------*/

/*------------------*/
/* LAYOUT */
.container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
/*------------------*/
