header {
    border-bottom: 1px solid var(--border-bottom);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white);
}

header .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

}

header .container .header .logo-title {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Nunito';

    color: var(--pink-strong);
}

main {
    margin-top: 11.6rem;
}