/* Início do site */

/*------------------*/
/* IMAGENS */
#home #items-wrapper {
    width: 100vw;
}

#home #items-wrapper #items {
    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory; /* Faça o "estralo" no eixo X e seja obrigatório */
    -webkit-overflow-scrolling: touch;
}

#home #items-wrapper #items .item {
    width: 100%;
    height: 40rem;
    flex: none; /* Desabilitando opções de alargamento */
    
    scroll-snap-align: start; /* Ajustando a imagem quando acontece um "estralo" */
}

#home #items-wrapper #items .item img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
/*------------------*/

/*------------------*/
/* TEXTO */
.margin-top {
    margin-top: 3.2rem;
}

.container #text-home {
    text-align: center;
}

.container #text-home h2 {
    font-size: 2.9rem;

    margin-bottom: 1.6rem;
}

.container #text-home p {
    font-size: 1.6rem;
    color: var(--gray);

    margin-bottom: 1.6rem;
}
/*------------------*/

/*------------------*/
/* BOTÃO */
.container #text-home #button-request {
    height: 5.6rem;
    display: inline-flex;
    align-items: center;
    margin-bottom: 8rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;

    background-color: var(--pink-strong-button);
    border-radius: 0.4rem;
    transition: background-color .5s; /* Transição suave quando o usuário colocar o mouse em cima do botão. */
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}

.container #text-home #button-request:hover {
    background-color: var(--pink-low-button);;
    transform: translateY(0.5rem);
}
/*------------------*/