/*------------------*/
/* RESETANDO AS CONFIGURAÇÕES PADRÕES DE ESTILO DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* Removendo a decoração dos links */
}

ul {
    list-style: none;
}
/*------------------*/