/*------------------*/
/* LAYOUT */
body {
    background-color: var(--write);
}

.section {
    padding: 8rem 0;
}

.container {
    width: 100%;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
/*------------------*/

/*------------------*/
/* CABEÇALHO */
#header {
    display: flex;

    border-bottom: 1px solid var(--border-bottom);
    margin-bottom: 3.2rem;
}

#header nav {
    height: 7.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header nav .logo {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

    color: var(--pink-strong);
}
/*------------------*/

/*------------------*/
/* HOME */
#home .grid {
    display: grid;
    gap: 3.2rem;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

/* #home .image::before {
    content: '';

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: -12.8%;
    left: 16.7%;

    border-radius: 50%;
    background-color: var(--pink-low);
} */

#home .image img {
    width: 100%;
    height: 50rem;
    position: relative;
    align-items: center;

    border-radius: 50%;
    box-shadow: ;
}

#home .container .text {
    margin-left: 2.4rem;
    margin-right: 2.4rem;

    text-align: center;
}

#home .container .text h2 {
    margin-bottom: 1.6rem;
}

#home .container .text p {
    margin-bottom: 3.2rem;
}

/*------------------*/
/* BOTÃO */
#home .container .text .button {
    display: inline-flex;

    height: 5.6rem;
    padding: 3.2rem;
    justify-content: center;
    align-items: center;

    color: var(--white);
    border-radius: 0.4rem;
    background-color: var(--pink-button-hover);
    

    font-size: 1.6rem;
    font-weight: 500;

    transition: background-color 0.3s;
}

#home .container .text .button:hover {
    background-color: var(--pink-low);
}
/*------------------*/

/*------------------*/
/* DIVISOR DAS SECTIONS */
.divider-1 {
    height: 1px;
    background: linear-gradient(
    270deg, 
    var(--divider) 0%, 
    rgba(204, 244, 230, 0.34) 100%);;
}
/*------------------*/

